/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */
/* Шрифты, их вес, цвета */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --curr-wght: 400;
  --main-font-size: 14px;
  --main-color: #000;
  --bg-color: #fff;
  --accent-color: #000;
  --text-stroke-color: #fff;

  /* Page background gradient */
  --bg-grad-main-color: #d3d3d3;
  --bg-grad-lines-color: #d3d3d300;
  --bg-grad-shadow-top-color: #e7e7e7;
  --bg-grad-shadow-btm-color: #1a1a1a;

  /* Heart */
  --sparkles-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
}
